* {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    color: blue;
    background-color: antiquewhite;
    height: 64px;
    font-size: 2rem;
    border-bottom: 2px solid goldenrod
}

nav span {
    color: black;
}

nav .navlinks {
    justify-content: right;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    font-size: 2rem;
}

nav a {
    font-size: 1.5rem;
    text-decoration: underline;
}

.landing {
    display: flex;
    background-color: honeydew;
    text-shadow: 5px 5px 5px aquamarine;
    max-height: 1000px;
}

.landing img {
    width: 60%;
    margin: 2rem 1.5rem;

}

.landing .landing1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.75rem;
    width: 40%;
 
}

.landing1 .p1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 25px;
}

.landing1 .p2 {
    font-size: 2rem;
    text-align: center;
}

.landing1 button {
    font-size: 2rem;
    width: 60%;
    height: 7%;
    padding: 8px;
    border-radius: 50px;
    margin-top: 25px;
    background-color: aqua;
    border: 3px solid black;
}

.landing1 button:hover {
    background-color: lime;
    transform: scale(1.1);
    font-size: 2.5rem;
}


.practicing {
    display: flex;
    border: 2px solid white;
    background-color: black;
    color: goldenrod;
}

.practicing .practicingleft {
    padding: 2rem 1.5rem;
    width: 60%;
}

.practicing h1, p {
    width: 80%;
    text-align: center;
}

.practicing h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.practicing  .p1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.practicing .p2 {
    justify-content: center;
    text-align: left;
}

.practicingright {
    width: 40%;
}

.practicingright div {
    display: flex;
    border: 1px solid white;
}

.practicingright div img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.practicingright .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
}

.practicingright .text p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.part3 {
    background-color: antiquewhite;
    text-align: center;
}

.part3 h1 {
    padding-top: 2rem;
    font-size: 5rem;
    text-decoration: underline;
    text-shadow: 4px 2px #DAA520;
    color: black;
}

.learning {
    padding: 2rem 4rem;
}

.learningpart1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.course {
    max-width: 25%;
    min-width: 25%;
    margin: 2rem;
    color: white;
    overflow: hidden;
    border: 3px solid goldenrod;
    border-radius: 15px;
}

.course:hover {
    transform: scale(1.25);
    border: 5px solid limegreen;
    transition-duration: 500ms;
    background-color: yellow;
    color: black;
}


.course h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: blue
}

.course .p1 {
    text-align: start;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    color: black;
}

.course .p2 {
    text-align: start;
    line-height: 2rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    color: black;
}

.learningpart2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}