* {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    color: blue;
    background-color: antiquewhite;
    min-height: 4rem;
    font-size: 2rem;
    border-bottom: 2px solid goldenrod;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navleft {
    margin-top: auto;
    margin-bottom: auto;
}
nav img {

}
nav span {
    color: black;
}

.navright {
    font-size: 1rem;
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 2rem;
}

nav a {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: 2.5rem;
}

.navlinks a:hover {
    color: rgb(255, 0, 179);
}

.landing {
    display: flex;
    background-color: honeydew;
    text-shadow: 5px 5px 5px aquamarine;
    max-height: 1000px;
    font-family: 'caveat';
}

.landing img {
    width: 60%;
    margin: 6rem 1.5rem 2rem;
    border: 2px solid goldenrod;
}

.landing .landing1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.75rem;
    width: 40%;
 
}

.landing1 .p1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 25px;
}

.landing1 .p2 {
    font-size: 2rem;
    text-align: center;
}

.landing1 button {
    font-family: 'caveat';
    font-size: 2rem;
    width: 60%;
    height: 7%;
    padding: 8px;
    border-radius: 50px;
    margin-top: 25px;
    background-color: aqua;
    border: 3px solid black;
}

.landing1 button:hover {
    background-color: lime;
    transform: scale(1.1);
    font-size: 2.5rem;
}


.practicing {
    display: flex;
    border: 2px solid white;
    background-color: black;
    color: goldenrod;
    border: 2px solid gray;
}

.practicing .practicingleft {
    padding: 2rem 1.5rem;
    width: 60%;
    overflow: hidden;
}

.practicing h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'caveat';
}

.practicing  .p1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.practicing .p2 {
    justify-content: center;
    text-align: left;
}

.practicingright {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.practicingright .rightdiv {
    display: flex;
    border: 2px solid gray;
}


.practicingright .img1 {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.practicingright .img2 {
    display: none;
    margin: 1rem;
}


.practicingright .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    font-family: 'caveat';
}

.practicingright .text p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.rightdiv a:hover {
    color: aqua;
}

.part3 {
    background-color: antiquewhite;
    text-align: center;
}

.part3 h1 {
    font-family: 'space mono';
    padding-top: 2rem;
    font-size: 5rem;
    text-decoration: underline;
    text-shadow: -4px 2px #DAA520;
    color: black;
}

.learning {
    padding: 2rem 4rem;
}

.learningpart1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.course {
    max-width: 25%;
    min-width: 25%;
    margin: 2rem;
    color: white;
    overflow: hidden;
    border: 3px solid goldenrod;
    border-radius: 15px;
}

.course:hover {
    transform: scale(1.25);
    border: 5px solid limegreen;
    transition-duration: 500ms;
    background-color: yellow;
    color: black;
}

.course:hover h3 {
    font-size: 2.5rem;
}

.course:hover p {
    font-weight: bold;
}

.course h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: blue;
    text-decoration: underline;
}

.course .p1 {
    text-align: start;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    color: black;
}

.course .p2 {
    text-align: start;
    line-height: 2rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    color: black;
}

.learningpart2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.part4 {
    background-color: black;
    text-align: center;
    border: 2px solid aqua;
}

.part4 .title {
    color: blue;
    font-family: 'space mono';
    text-decoration: underline;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-shadow: -1px 1px aqua;
}

.part4 .exhibit {
    font-family: 'dancing script';
    display: flex;
    color: white;
}

.exhibit .left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.left .video {
    margin: 1.5rem;
    padding: 2rem 1.5rem 1.5rem;
    border: 1px solid aqua;
}

.left .text {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.left h3 {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: aqua;
    text-decoration: underline;
}

.exhibit .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 1.5rem;

    
}

.right .fisma {
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
    border-top: 1px solid aqua;
    border-left: 1px solid aqua;
}

.right .fisma:hover {
    background-color: gray;
}

.right .nowandthen:hover {
    background-color: gray;
}
.right .nowandthen {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px solid aqua;
}

.right img {
    padding: 1rem;
    width: 35%;
    height: auto;
}

.right .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    margin: auto;
}

.righth3 {
    font-weight: bold;
    padding: 1rem;
    color: aqua;
    text-decoration: underline;
    font-size: 1.8rem;
}

.rightp {
    font-size: 1.25rem;

}

.footer {
    background-color: gray;
    display: flex;
}

.footer p {
    margin: 2rem 3rem;
    font-size: 1.25rem;
}

.footer a {
    margin: 2rem 3rem;
    font-size: 1.25rem;
}
.footer .footerleft {
    height: 100%;
}

.footer .footerright {
    display: flex;
    margin-left: auto;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    nav {
        padding: 0 1.5rem;
        font-size: 0.75rem;
    }
    
    .landing {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        background: pink;
        width: 100%;
    }

    .practicingleft {
        display: none;
    }

    .practicingleft .imgleft {
        display: none;
    }

    .practicingright .img1 {
        display: none;
    }

    .practicingright .img2 {
        display: flex;
        width: 75%;
    }

    .practicingright {
        width: 100%;
    }

    .practicingright .rightdiv {
        display: flex;
        border: 2px solid black;
    }

    .practicingright .text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 100%;
        font-family: 'caveat';
    }

    .learning { 
        width: 100%;
    }
}